@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --c-pri: #223243;
  --c-pri: rgb(34, 50, 67);
}
body {
  scroll-behavior: smooth;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  height: 200px;
  background: linear-gradient(to right, rgb(34, 50, 67), rgba(34, 50, 67, 0.7)),
    url("../images/tech.jpeg") bottom;
  background-size: cover;
  color: #fff;
}
.banner h1 {
  font-size: 50px;
}
main {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.sidebar {
  min-height: calc(100vh);
  background: var(--c-pri);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.sidebar .profile {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background: url("../images/mart-white-bg.png") center;
  background-size: cover;
  border: 1px solid white;
}

.info {
  padding: 25px;
}
